$primary-color: #F8CC07;
$second-color: #fefae6;

$border-color: #eee;
///* 改变主题色变量 */
//$--color-primary: #F8CC07;
//
///* 改变 icon 字体路径变量，必需 */
//$--font-path: '~element-plus/lib/theme-chalk/fonts';
//
//@import "~element-plus/packages/theme-chalk/src/index";